body{
    background-color: #344A57;
    width: 100%;
    overflow: hidden;
    margin: 0;
}

@-webkit-keyframes swinging{
    0%{-webkit-transform: rotate(10deg);}
    50%{-webkit-transform: rotate(-5deg)}
    100%{-webkit-transform: rotate(10deg);}
}
 
@keyframes swinging{
    0%{transform: rotate(10deg);}
    50%{transform: rotate(-5deg)}
    100%{transform: rotate(10deg);}
}
 
#morp-hand{
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-animation: swinging 3.5s ease-in-out forwards infinite;
    animation: swinging 3.5s ease-in-out forwards infinite;
    width: 55%;
    position: absolute;
    top: -30%;
    right: -15%;
}

#morp-words{
    width: 53%;
    position: absolute;
    top: 15%;
    left: 5%;
}

.center{
    margin-left: auto;
    margin-right: auto;
    display: flexbox;
    align-items: center;
}

#morp-container{
    width: 550px;
    min-width: 550px;
    height: 250px;
    display: flex;
    margin-left:auto;
    margin-right:auto;
    align-items: center;
    position: relative;
}

#content{
    
    width: 100%;
    margin: auto 0;
    box-sizing: border-box;
    text-align: center;
}

p, h1, h2, h3 {
    font-family: 'Gelasio', serif;
    font-family: 'Libre Baskerville', serif;
    color: white;
}

#vertsplat {
    position: absolute;
    top: -5%;
    left: -15%;
    z-index: -1;
}

#wordsplat {
    position: absolute;
    bottom: -15%;
    right: -12%;
    width: 45%;
}

.button {
    font-size: 48px;
    color: #EC8C4E;
    text-align: center;
}

.button:hover {
    font-size: 52px;
}

@media screen and (max-width: 450px) and (max-height: 600px) {
    overflow-y: scroll;
}

@media screen and (max-width: 550px){
    #vertsplat {
        height: 50%;
        min-height: 320px;
    }

    #wordsplat {
        display: none;
    }
}

@media screen and (min-width: 550px) and (max-width: 800px){
    #vertsplat {
        height: 70%;
        
    }

    #wordsplat {
        display: none;
    }
}

@media screen and (min-width: 800px){
    #vertsplat {
        height: 80%;
        left: -5%;

    }

    #wordsplat {
        display:block
    }
}